.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  color: grey;
}

.headerOption:hover {
  color: #111;
}

.headerOption__title {
  font-size: 12px;
  font-weight: bold;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
  font-size: 0.5rem;
}
