.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  margin-left: 10px;
}

.sidebar__avatar {
  border: 2px solid white;
  height: 70px !important;
  width: 70px !important;
}

.sidebar__top > h4 {
  margin: 5px 0px;
  color: gray;
  font-size: 12px;
  font-weight: normal;
}

.sidebar__top > h2 {
  margin-top: 20px;
  font-size: 18px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__top > img {
  margin-bottom: -40px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar__stat {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__stat:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.sidebar__stats {
  padding: 10px 0px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__statNumber {
  font-weight: bold !important;
  color: #0a66c2 !important;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px 0px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__bottom > p {
  padding: 5px 15px;
  font-size: 13;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: grey;
  font-weight: bolder;
  cursor: pointer;
  padding: 7px 10px;
}

.sidebar__recentItem:hover {
  background-color: #f3f2ef;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 5px;
}
